/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/* Ref: https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page */
#map {
    height: 400px;
    width: 96%;
    margin: 1em auto auto auto;
    background-color: grey;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Top banner area: Colby pics, and title text, and background blue*/
#header, #footer {
    background-image: url("images/colbybannerbg.jpg");
    height: 80px;
    width: 100%;
    /*min-width: 600px;*/
    clear: both;
    /*display: inline-block;*/
    overflow: hidden;
}
.banner1    {
    float: left;
    height: 80px;
}
.banner2    {
    float: right;
    height: 80px;
    display: inline-block;
}
#StarrsTitleContainer {
    display: table;
    float: left;
    width: 75%;
    margin-left: 2%;
    height: 80px;
}
#StarrsTitle {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

/*Main body area*/
#pageTitle {
    text-align: center;
}
#main {
    width: 90%;
    margin: auto;
    display: block;
}

/*The strip with the links (bannerAndMap.php)*/
#linksBanner {
    display: table;
    width: 100%;
}
.linkBlock {
    width: 32%;
    display: table-cell;
    float: left;
    text-align: center;
    background-color: #5e79b4;
    font-size: large;
    margin-left: 1%;
}
.linkBlockText {
    color: white;
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*====index.html specific====*/
#LocationEstimation {
    /*position: relative;*/
    text-align: center;
    /*left: 25%;*/
}

#getLocation {
    position: fixed;
    /*text-align: center;*/
    bottom: 5px;
}

/*====Jitney pages (JUserP, JDriverP, JDispatcherP) specific====*/

/*Title of each section in the main body*/
.sectionTitle {
    text-align: center;
}

/*Table stype for all queues: With borders and stripings.*/
#requestQueue, #onboardQueue {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
tr, td, th {
    border: 1px solid black;
    word-break: keep-all;
}
tr:nth-child(odd) {
    background-color: #EEEEEE;
}
tr:nth-child(even) {
    background-color: #F8F8F8;
}

/*The section where the user/dispatcher can issue a pickup request.*/
#requestArea {
    border: 1px solid grey;
    width: 60%;
    margin: 3em auto 3em auto;
    padding-bottom: 2em;
    background-color: #EEEEEE;
}
/*Make each element (label) in the requestForm centered.*/
#requestForm {
    text-align: center;
    display: block;
}
label {
    display: inline-block;
    margin: auto;
}
/*Make the text before each textarea align to the left of the textarea box*/
.requestPrompt{
    text-align: left;
    display: block;
}
/*Make the width of each label element the same as the textarea's width
  by setting this width to 100% and setting the labels as inline-blocks.*/
.requestText{
    width: 100%;
}
/*The counter that counts the number of characters entered into the textbox.*/
.textboxCounter{
    text-align: right;
    display: block;
}
/*The warning that shows if the user already has one request on file. (JUserP specific)*/
.warning {
    color: #d80000;
}

/*Table width specifications for the queue displaying requests currently on Jitney.
  Notice that though the sum of the percentages are 100%, in JDispatcherP the
  onboardQueueAction is not even displayed. Similarly, in JUserP, only three
  of them are displayed. However, the full width is still achieved.
  I guess CSS just picks the width by re-calculating them under the same ratio so that
  any elements in one line has width adding up to 100%.*/
#onboardQueueLocation, #onboardQueueDestination {
    width: 20%;
}
#onboardQueuePassengers, #onboardQueueAction {
    width: 6%;
}
#onboardQueueComment {
    width: 30%;
}
#onboardQueueTime {
    width: 18%;
}

/*Table width specifications for the queue displaying pending requests.
  Notice that though the sum of the percentages are 100%, in JDriverP and JDispatcherP
  the table is displayed in two rows, and queueAction is located under the
  queueTime slot, and as a result both share the same length...*/
.queueLocation, .queueDestination {
    width: 37%;
}
.queuePassengers, .queueAction {
    width: 6%;
}
.queueTime {
    width: 20%;
}

/*The Jitney schedule of the day; shown in all Jitney pages.*/
#dailySchedule{
    border-collapse: collapse;
    margin: auto auto 2em auto;
    width: 40%;
    text-align: center;
}
/*Slots that corresponds to the time where the Jitney is running.*/
.driver_shift{
    background-color:yellow;
}

/*The links section at the bottom shared by all pages. Might be replaced later.*/
#Links {
    /*position: relative;*/
    /*text-align: center;*/
    left: 25%;
    width: 50%;
    margin: auto;
    clear: both;
}
#linkHeader{
    font-weight: bold;
}
ul{
    list-style-position: inside;
}