/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/* Ref: https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page */
#map {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
    background-color: grey;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#LocationEstimation {
    position: relative;
    top: 55%;
    left: 25%;
}

#Links {
    position: relative;
    top: 57%;
    left: 25%;
}

#getLocation {
    position: fixed;
    bottom: 5px;
}