/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
/* Ref: https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page */
#map {
    height: 400px;
    width: 96%;
    margin: auto;
    background-color: grey;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Top banner area: Colby pics, and title text, and background blue*/
#header, #footer {
    background-image: url("images/colbybannerbg.jpg");
    height: 80px;
    width: 100%;
    /*min-width: 600px;*/
    clear: both;
    /*display: inline-block;*/
    overflow: hidden;
}
.banner1    {
    float: left;
    height: 80px;
}
.banner2    {
    float: right;
    height: 80px;
    display: inline-block;
}
#StarrsTitleContainer {
    display: table;
    float: left;
    width: 75%;
    margin-left: 2%;
    height: 80px;
}
#StarrsTitle {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

/*Main body area*/
#pageTitle {
    text-align: center;
}
#main {
    width: 90%;
    margin: auto;
    display: block;
}

/*The strip with the links*/
#linksBanner {
    display: table;
    width: 100%;
}
.linkBlock {
    width: 32%;
    display: table-cell;
    float: left;
    text-align: center;
    background-color: #5e79b4;
    font-size: large;
    margin-left: 1%;
}
.linkBlockText {
    color: white;
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Below are the blocks for the shuttle page (index.html)*/
#LocationEstimation {
    /*position: relative;*/
    text-align: center;
    /*left: 25%;*/
}

#getLocation {
    position: fixed;
    /*text-align: center;*/
    bottom: 5px;
}

/*Below are the blocks for the Jitney request page (JitneyUserPage.php)*/
.sectionTitle {
    text-align: center;
}

#queue, #requestForm {
    text-align: center;
    display: block;
}

label {
    display: inline-block;
    margin: auto;
}

/*onboardQueue is from the Driver's page, but they share the similar properties*/
#requestQueue, #onboardQueue {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

tr, td, th {
    border: 1px solid black;
}
tr:nth-child(odd) {
    background-color: #EEEEEE;
}
tr:nth-child(even) {
    background-color: #F8F8F8;
}

#queueLocation, #queueDestination {
    width: 34%;
}
#queuePassengers, #queueAction {
    width: 6%;
}
#queueTime {
    width: 20%;
}

.requestPrompt{
    text-align: left;
    display: block;
}

.textboxCounter{
    text-align: right;
    display: block;
}

.warning {
    color: #d80000;
}

/*Below are the blocks for the Jitney driver page (JitneyDriverPage.php)*/

#onboardQueueLocation, #onboardQueueDestination {
    width: 23%;
}
#onboardQueuePassengers, #onboardQueueTime, #onboardQueueAction {
    width: 8%;
}
#onboardQueueComment {
    width: 30%;
}
/* Apparently this doesn't work... So the number has to be specified in HTML.
.queueComments {
    column-span: 3;
}
*/

.queueLocation, .queueDestination {
    width: 35%;
}
.queuePassengers, .queueAction {
    width: 10%;
}
.queueTime {
    width: 20%;
}
/*.queueComments {*/
    /*width: 90%;*/
/*}*/


#Links {
    /*position: relative;*/
    /*text-align: center;*/
    left: 25%;
    width: 50%;
    margin: auto;
    clear: both;
}

#linkHeader{
    font-weight: bold;
}

ul{
    list-style-position: inside;
}