
#ScheduleTable {
    width: 100%;
    border-top: 10px;
    text-align: center;
    vertical-align: middle;
}

table {
    text-align: center;
    vertical-align: center;
}

td {
    text-align: center;
}